<div class="border" style="width: 20rem">
	<div class="d-flex flex-row justify-content-between px-1">
		<p class="text-secondary fw-bold"> Suggestions for you </p>
		<%= link_to root_path, style:"text-decoration:none" do %>
		<small class="px-1 text-dark fw-bold">See All</small>
		<% end %>
		<div>





		</div>
	</div>
</div>