<div class="d-flex justify-content-between">
	<div>
	<%= image_tag 'flanatar.png', class: "img-thumbnail rounded border border-2 border-warning", style: "width: 2.5rem" %>
	<div class="d-flex flex-column">
	<small> FlanFan </small>
	<small> Suggested for You </small>
	</div>
	</div>

<%= link_to root_path, style:"text-decoration:none" do %>
<small class="fw-bold text-primary">Follow</small>

<% end %>

</div>